/*

--------------------------------------------------------------*/
.header .Top-bar {
  height: 180px;
  padding-top: 10px;
  background-color: #222831;
  color: white; }
  @media screen and (max-width: 920px) {
    .header .Top-bar .hero {
      justify-content: center;
      display: flex; } }
  .header .Top-bar .hero .bar-info {
    list-style: none;
    padding: 0px 8px 0px 8px;
    float: left; }
    .header .Top-bar .hero .bar-info li {
      margin-left: 0;
      line-height: 15px; }
      .header .Top-bar .hero .bar-info li i {
        float: left; }
      .header .Top-bar .hero .bar-info li .info-text {
        margin-left: 10px;
        display: inline-block; }
  @media screen and (max-width: 920px) {
    .header .Top-bar .hero2 {
      justify-content: center;
      display: flex; } }
  .header .Top-bar .hero2 .top-social li {
    list-style: none; }
    .header .Top-bar .hero2 .top-social li a {
      color: white;
      padding-right: 10px;
      font-size: 16px;
      -webkit-transition: 400ms;
      -moz-transition: 400ms;
      -o-transition: 400ms;
      transition: 400ms; }
  .header .Top-bar .logo {
    margin-left: 20px;
    font-size: 42px;
    font-weight: 800ms;
    background-color: white;
    border-radius: 50%; }
    @media screen and (max-width: 920px) {
      .header .Top-bar .logo {
        font-size: 24px;
        padding: 10px;
        margin: auto; } }
    .header .Top-bar .logo .s1 {
      color: #d65a31; }
    .header .Top-bar .logo .s2 {
      color: #222831; }
  @media screen and (max-width: 920px) {
    .header .Top-bar .search {
      margin-bottom: 10px;
      margin-right: 10px;
      float: none; } }
  .header .Top-bar .search .si {
    background-color: #d65a31;
    width: 45px;
    height: 40px; }
    .header .Top-bar .search .si i {
      padding: 15px; }
  .header .Top-bar .search .sf {
    width: 180px;
    height: 40px; }
.header .nav-custom {
  background-color: #d65a31; }
  .header .nav-custom .navbar-toggler {
    border-color: white;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    background: none;
    z-index: 999;
    border: 0; }
    .header .nav-custom .navbar-toggler .navbar-toggler-icon {
      background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000"); }
  .header .nav-custom .nav-item {
    padding: 10px 10px 10px 0px;
    font-family: 'Libre Baskerville', serif; }
    .header .nav-custom .nav-item .nav-link {
      color: white; }
      .header .nav-custom .nav-item .nav-link:hover {
        color: #222831; }
.header #demo {
  height: inherit; }
  .header #demo .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(34, 40, 49, 0.4);
    height: inherit;
    z-index: 999; }
  .header #demo .carousel-inner {
    height: inherit; }
    .header #demo .carousel-inner #carousel-one {
      background-image: url("../images/c1.jpg");
      background-size: cover;
      height: inherit;
      width: 100%;
      transition: opacity ease-out .2s; }
      .header #demo .carousel-inner #carousel-one .carousel-caption {
        z-index: 1500;
        margin-bottom: 180px; }
        .header #demo .carousel-inner #carousel-one .carousel-caption .b1 {
          background-color: #d65a31;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
        .header #demo .carousel-inner #carousel-one .carousel-caption .b2 {
          background-color: #222831;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
    .header #demo .carousel-inner #carousel-two {
      background-image: url("../images/c2.jpg");
      background-size: cover;
      height: inherit;
      width: 100%;
      transition: opacity ease-out .2s; }
      .header #demo .carousel-inner #carousel-two .carousel-caption {
        margin-bottom: 180px;
        z-index: 1500; }
        .header #demo .carousel-inner #carousel-two .carousel-caption .b1 {
          background-color: #d65a31;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
        .header #demo .carousel-inner #carousel-two .carousel-caption .b2 {
          background-color: #222831;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
    .header #demo .carousel-inner #carousel-three {
      background-image: url("../images/c3.jpg");
      background-size: cover;
      height: inherit;
      width: 100%;
      transition: opacity ease-out .2s; }
      .header #demo .carousel-inner #carousel-three .carousel-caption {
        margin-bottom: 180px;
        z-index: 1500; }
        .header #demo .carousel-inner #carousel-three .carousel-caption .b1 {
          background-color: #d65a31;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
        .header #demo .carousel-inner #carousel-three .carousel-caption .b2 {
          background-color: #222831;
          color: white;
          margin-top: 30px;
          font-family: 'Libre Baskerville', serif; }
.header .featured-section {
  overflow-x: hidden; }
  .header .featured-section .box1 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-image: linear-gradient(#d65a31, #222831); }
    .header .featured-section .box1 h1 {
      margin: 20px 0; }
    .header .featured-section .box1 p {
      max-width: 70%;
      display: inline-block; }
    .header .featured-section .box1 span i {
      font-size: 42px;
      color: #222831; }
  .header .featured-section .box2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-image: linear-gradient(#d65a31, #222831); }
    .header .featured-section .box2 h1 {
      margin: 20px 0; }
    .header .featured-section .box2 p {
      max-width: 70%;
      display: inline-block; }
    .header .featured-section .box2 span i {
      font-size: 42px;
      color: #222831; }
  .header .featured-section .box3 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-image: linear-gradient(#d65a31, #222831); }
    .header .featured-section .box3 h1 {
      margin: 20px 0; }
    .header .featured-section .box3 p {
      max-width: 70%;
      display: inline-block; }
    .header .featured-section .box3 span i {
      font-size: 42px;
      color: #222831; }

.About-Us {
  margin-top: 50px;
  height: auto;
  margin-bottom: 50px; }
  .About-Us .Header-section h1 {
    font-size: 42px;
    padding-bottom: 30px;
    color: #d65a31;
    font-family: serif;
    font-weight: 500;
    font-size: bold; }
  .About-Us .Header-section .cr1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d65a31;
    display: inline-block; }
  .About-Us .Header-section .hr {
    width: 300px;
    border: 3px solid #222831;
    display: inline-block;
    margin: 20px; }
  .About-Us .Header-section .cr2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d65a31; }
  .About-Us .Body-section .About-box1 img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .About-Us .Body-section .About-box1 .img-footer {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 8px;
    margin: auto;
    height: 25%;
    background-color: #222831; }
    .About-Us .Body-section .About-box1 .img-footer .btn {
      margin: auto;
      z-index: 20000;
      background-color: #d65a31;
      position: absolute;
      left: 42%;
      top: 30%;
      color: white; }
  .About-Us .Body-section .About-box2 img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .About-Us .Body-section .About-box2 .img-footer2 {
    position: absolute;
    left: 15px;
    right: 14px;
    bottom: 0;
    height: 20%;
    background-color: #222831; }
    .About-Us .Body-section .About-box2 .img-footer2 .btn {
      margin: auto;
      z-index: 20000;
      background-color: #d65a31;
      position: absolute;
      left: 42%;
      top: 30%;
      color: white; }
  .About-Us .Body-section p {
    line-height: 1.3;
    word-spacing: 2.3px;
    text-align: left;
    font-family: 'Libre Baskerville, serif'; }
  .About-Us .About-section2 {
    margin-top: 50px;
    background-image: url("../images/c6.jpg");
    background-size: cover;
    height: 300px;
    padding: 30px;
    color: white; }
    .About-Us .About-section2 p {
      padding-top: 30px;
      width: 70%;
      display: inline-block;
      text-align: center;
      margin-bottom: 30px;
      font-family: "Libre Baskerville, serif"; }
    .About-Us .About-section2 .btn {
      display: block;
      margin: auto;
      background-color: #d65a31;
      color: white; }

.services .s-header {
  text-align: center;
  padding-bottom: 40px; }
  .services .s-header h1 {
    font-size: 42px;
    padding-bottom: 30px;
    color: #d65a31;
    font-family: serif;
    font-weight: 500;
    font-size: bold; }
  .services .s-header .cr1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d65a31;
    display: inline-block; }
  .services .s-header .hr {
    width: 300px;
    border: 3px solid #222831;
    display: inline-block;
    margin: 20px; }
  .services .s-header .cr2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d65a31; }
.services .s-boxs {
  height: auto; }
  .services .s-boxs .s-box h3 {
    padding: 20px;
    color: #222831; }
  .services .s-boxs .s-box p {
    max-width: 70%;
    display: inline-block;
    font-family: "Libre Baskerville, serif";
    color: #222831; }
  .services .s-boxs .s-box i {
    color: #d65a31;
    font-size: 60px;
    padding: 40px; }

.portfolio {
  height: auto; }
  .portfolio .p-header {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 30px; }
    .portfolio .p-header h1 {
      font-size: 42px;
      padding-bottom: 30px;
      color: #d65a31;
      font-family: serif;
      font-weight: 500;
      font-size: bold; }
    .portfolio .p-header .cr1 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #d65a31;
      display: inline-block; }
    .portfolio .p-header .hr {
      width: 300px;
      border: 3px solid #222831;
      display: inline-block;
      margin: 20px; }
    .portfolio .p-header .cr2 {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      background-color: #d65a31; }
  .portfolio .p-body {
    height: auto; }
    .portfolio .p-body .p-A {
      background-color: #d65a31;
      color: #222831;
      padding: 15px;
      height: auto;
      margin-bottom: 50px;
      text-align: left;
      line-height: 1.4;
      width: 80%;
      display: block;
      margin: auto;
      padding: 20px;
      font-family: "Libre Baskerville, serif"; }
      .portfolio .p-body .p-A h1 {
        font-size: 28px;
        font-family: serif; }
  .portfolio .p-B {
    height: auto; }
    .portfolio .p-B .p-buttons .one {
      background-color: white;
      color: #d65a31;
      padding: 0 20px;
      cursor: pointer;
      margin: 15px; }
    .portfolio .p-B .p-buttons .two {
      background-color: #222831;
      color: white;
      padding: 0 20px;
      cursor: pointer; }
    .portfolio .p-B .p-buttons .three {
      background-color: #222831;
      color: white;
      padding: 0 20px;
      cursor: pointer; }
    .portfolio .p-B .p-buttons .four {
      background-color: #222831;
      color: white;
      padding: 0 20px;
      cursor: pointer; }
    .portfolio .p-B .p-item {
      height: auto; }
      .portfolio .p-B .p-item figure {
        display: inline-block !important;
        float: left;
        padding: 5px; }

.blog .blog-header {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 30px; }
  .blog .blog-header h1 {
    font-size: 42px;
    padding-bottom: 30px;
    color: #d65a31;
    font-family: serif;
    font-weight: 500;
    font-size: bold; }
  .blog .blog-header .cr1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d65a31;
    display: inline-block; }
  .blog .blog-header .hr {
    width: 300px;
    border: 3px solid #222831;
    display: inline-block;
    margin: 20px; }
  .blog .blog-header .cr2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d65a31; }
.blog .blog-body {
  padding: 20px; }
  .blog .blog-body .box1 {
    height: auto;
    width: 100%;
    background-color: #DDD;
    margin: 20px auto; }
  .blog .blog-body .left-part {
    padding: 20px; }
    .blog .blog-body .left-part .blog-button {
      margin: auto;
      display: block;
      color: #d65a31;
      background-color: #222831;
      font-family: serif;
      width: 100%; }
  .blog .blog-body .right-part {
    text-align: left;
    padding: 20px; }
    .blog .blog-body .right-part h3 {
      color: #d65a31;
      font-family: serif; }
    .blog .blog-body .right-part button {
      background-color: #d65a31;
      border: none;
      font-family: serif; }
    .blog .blog-body .right-part p {
      font-family: serif; }

.Team .Team-header {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 30px; }
  .Team .Team-header h1 {
    font-size: 42px;
    padding-bottom: 30px;
    color: #d65a31;
    font-family: serif;
    font-weight: 500;
    font-size: bold; }
  .Team .Team-header .cr1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d65a31;
    display: inline-block; }
  .Team .Team-header .hr {
    width: 300px;
    border: 3px solid #222831;
    display: inline-block;
    margin: 20px; }
  .Team .Team-header .cr2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d65a31; }
.Team .Team-body {
  height: auto; }
  .Team .Team-body .chr {
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
    height: auto; }
    .Team .Team-body .chr img {
      border-radius: 50%;
      height: 330px; }
    .Team .Team-body .chr h3 {
      font-size: 18px;
      text-align: center;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px; }
    .Team .Team-body .chr h5 {
      font-size: 12px;
      text-align: center;
      width: 100%;
      color: #d65a31;
      padding-bottom: 12px; }
    .Team .Team-body .chr button {
      display: block;
      width: 100%;
      border: 2px solid #D65A31;
      text-align: center; }

.pricings .pricings-header {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  padding-top: 70px;
  background-image: url("../images/c20.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 350px;
  width: 100%; }
  .pricings .pricings-header h1 {
    font-size: 42px;
    padding-bottom: 30px;
    color: #d65a31;
    font-family: serif;
    font-weight: 500;
    font-size: bold; }
  .pricings .pricings-header .cr1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d65a31;
    display: inline-block; }
  .pricings .pricings-header .hr {
    width: 300px;
    border: 3px solid #222831;
    display: inline-block;
    margin: 20px; }
  .pricings .pricings-header .cr2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d65a31; }
.pricings .pricings-body .pr-box {
  color: white;
  background-color: #222831;
  margin-left: 15px;
  margin-right: 15px;
  padding: 30px;
  height: auto; }
  .pricings .pricings-body .pr-box .pr-footer button {
    background-color: white; }

.footer {
  background-color: #222831;
  color: white;
  margin-top: 30px;
  font-size: 10px;
  padding: 20px;
  line-height: .7; }
  .footer h3 {
    font-size: 18px;
    color: #d65a31; }
  .footer .contact {
    clear: left; }
    .footer .contact .left {
      float: left;
      padding-right: 20px; }
    .footer .contact .right {
      padding-top: 20px;
      float: left; }
  .footer .copyright span i {
    padding: 10px;
    font-size: 18px; }

.me {
  background-color: #d65a31;
  color: #222831;
  text-align: center;
  margin-bottom: 0px;
  padding: 24px;
  height: auto; }

/*# sourceMappingURL=style.css.map */
